<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-sticker-pack-extension"
        version="1.0.1">

  <name>iMessage Sticker Pack Extension</name>
  <author>Hernan Zhou</author>

  <description>
    Add a Sticker Pack Extension to your cordova project.
  </description>

  <js-module name="stickers" src="www/stickers.js">
    <clobbers target="stickers" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <platform name="ios">
    <hook type="after_plugin_install" src="hooks/ios/after_plugin_install.js" />
    <config-file target="config.xml" parent="/*">
    </config-file>
  </platform>
</plugin>